
<br><br>
<h2> Welcome Travellers! </h2>

<h2><a href="/user/new">Sign up</a></h2>
<br><br>

 <h3><a href="/trip/new">New Trip</a></h3>
<h3>Latest Trips :</h3>
<% @trips.each do |trip| %>
  <div><h3><a href="/trip/<%= trip.id %>">Trip name :<%= trip.trip_name %></a></h3>
    <p>Destination :<%= trip.dest_country %>, Starting in :<%= trip.month %></p>
    <p>Looking for a <%= trip.gender %> Trip Owl, in the <%= trip.age_group %> age range.</p>
    <br>
  </div>
<% end %>
