<h2><%= @trip['trip_name'] %></h2>

<div><h3>Trip name :<%= @trip['trip_name'] %></h3>
  <p>Destination :<%= @trip['dest_country'] %>, Starting in :<%= @trip['month'] %></p>
  <p>Looking for a <%= @trip['gender'] %> Trip Owl, in the <%= @trip['age_group'] %> age range.</p>
  <label for="">Trip info :</label>
  <p><%= @trip['body'] %></p>
  <br>
</div>

<a href="/trip/<%= @trip['id']%>/edit">Edit</a>

<form action="/trip/<%= @trip['id'] %>/delete"
  method="get">
  <button>Delete</button>
</form>
