<h2>Deleting this Trip :</h2>

<h2><%= @car['name'] %></h2>

<img src="<%= @car['img_url'] %>"/>

<form action="/cars/<%= @car['id'] %>" method='post'>
  <label for="">Car name :<%= @car['name'] %></label>
  <input type="hidden" name="_method" value="delete">
  <br><br>
  <label for=""> image_url LINK : <%= @car['img_url'] %></label>
  <p>If you are sure 'click' Delete</p><button>Delete</button>

</form>
