    <h2>Editing Profile :</h2>
    <br>
    <h2><%= @user['username'] %></h2>
      <br>
    <form action="/user/<%= @user['id'] %>" method="post">

  <label for="">Choose a New username :</label>
  <input name="username" type="text" value="<%= @user['username'] %>">
  <br><br>
  <label for="">Email address :</label>
  <input name="email" type="text" value="<%= @user['email'] %>">
  <br><br>
  <label for="">Choose a New password :</label>
  <input name="password" type="password">
  <br><br>
  <label for="">Retype New password :</label>
  <input name="password_confirmation" type="password">
  <br><br>
  <label for="">Your gender :</label>
  <input name="gender" type="text" value="<%= @user['gender'] %>">
  <br><br>
  <label for="">Your age group :</label>
  <input name="age_group" type="text" value="<%= @user['age_group'] %>">
  <br><br>
  <label for="">Your home country :</label>
  <input name="home_country" type="text" value="<%= @user['home_country'] %>">
  <br><br>
  <label for=""> Paste a profile picture LINK : </label>
  <textarea name="prof_pic_url" rows="4" cols="40"><%= @user['prof_pic_url'] %></textarea>

  <br><br>
  <button>SAVE PROFILE!</button>

</form>
